USE master;
GO

IF NOT EXISTS (
    SELECT 1
    FROM sys.server_principals
    WHERE name = 'emsadmin'
)
BEGIN
    CREATE LOGIN [emsadmin]
    WITH PASSWORD = 'admin123',
         CHECK_POLICY = OFF,
         CHECK_EXPIRATION = OFF;
END;
GO

IF DB_ID('EMS') IS NULL
BEGIN
    CREATE DATABASE EMS;
END;
GO

USE EMS;
GO

IF NOT EXISTS (
    SELECT 1
    FROM sys.database_principals
    WHERE name = 'emsadmin'
)
BEGIN
    CREATE USER [emsadmin] FOR LOGIN [emsadmin];
END;
GO

IF NOT EXISTS (
    SELECT 1
    FROM sys.database_role_members drm
    JOIN sys.database_principals r
        ON drm.role_principal_id = r.principal_id
    JOIN sys.database_principals u
        ON drm.member_principal_id = u.principal_id
    WHERE r.name = 'db_datareader'
      AND u.name = 'emsadmin'
)
BEGIN
    ALTER ROLE [db_datareader] ADD MEMBER [emsadmin];
END;
GO

IF NOT EXISTS (
    SELECT 1
    FROM sys.database_role_members drm
    JOIN sys.database_principals r
        ON drm.role_principal_id = r.principal_id
    JOIN sys.database_principals u
        ON drm.member_principal_id = u.principal_id
    WHERE r.name = 'db_datawriter'
      AND u.name = 'emsadmin'
)
BEGIN
    ALTER ROLE [db_datawriter] ADD MEMBER [emsadmin];
END;
GO

IF OBJECT_ID('dbo.Users', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Users (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Username NVARCHAR(50) NOT NULL UNIQUE,
        Password NVARCHAR(255) NOT NULL
    );
END;
GO

IF OBJECT_ID('dbo.Employees', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Employees (
        Id INT IDENTITY(1,1) PRIMARY KEY,
        Name NVARCHAR(100) NOT NULL,
        Department NVARCHAR(100) NOT NULL,
        Position NVARCHAR(100) NOT NULL,
        Salary DECIMAL(10,2) NOT NULL,
        Email NVARCHAR(100) NULL,
        Phone NVARCHAR(20) NULL,
        Address NVARCHAR(255) NULL,
        DateOfBirth DATE NULL,
        DateHired DATE NULL,
        Status NVARCHAR(30) NULL
    );
END;
GO

IF NOT EXISTS (
    SELECT 1 FROM dbo.Users WHERE Username = 'emsadmin'
)
BEGIN
    INSERT INTO dbo.Users (Username, Password)
    VALUES (
        'emsadmin',
        '$2b$10$mIlT.HgJHdm.bNRsWH5kBe4WwNcD8tB3xIdFBwVZIvdTUZymIEF3O'
    );
END;
GO

IF NOT EXISTS (
    SELECT 1 FROM dbo.Employees
)
BEGIN
    INSERT INTO dbo.Employees (
        Name,
        Department,
        Position,
        Salary,
        Email,
        Phone,
        Address,
        DateOfBirth,
        DateHired,
        Status
    )
    VALUES (
        'Erine George Lumbad',
        'Information Technology',
        'IT Developer',
        30000,
        'lumbaderinegeorgec@gmail.com',
        '09123456789',
        'Malolos, Bulacan',
        '2003-10-23',
        '2026-08-10',
        'Active'
    );
END;
GO